<app-nav-bar></app-nav-bar>
<div class="container">
  <h1>Admin Dashboard</h1>
  <div class="dashboard">
    <div class="card" routerLink="/add-product" style="cursor: pointer;">
      <i class="fas fa-plus"></i>
      <p>Add Product</p>
    </div>
    <div class="card" routerLink="/aff-category" style="cursor: pointer;">
      <i class="fas fa-list"></i>
      <p>Add Category</p>
    </div>
    <div class="card" routerLink="/product" style="cursor: pointer;">
      <i class="fas fa-table"></i>
      <p>View Product</p>
    </div>
    <br>
    <div class="card" routerLink="/utilisateur2" style="cursor: pointer;">
      <i class="fas fa-box"></i>
      <p>Orders</p>
    </div>
    <div class="card" routerLink="/utilisateur" style="cursor: pointer;">
      <i class="fas fa-users"></i>
      <p>Users</p>
    </div>
    <div class="card">
      <i class="fas fa-user-plus"></i>
      <p>Add Admin</p>
    </div>
  </div>
</div>
